background-color: #272727;
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);

background-color: #222222;
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);

background-color: #202020;
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);

background-color: #1b1b1b;
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);

background-color: #101010;
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);  

background-color: #0a0a0a;
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);

background-color: #020202;
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);

background-color: #2a2a2a;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.02)), to(rgba(0, 0, 0, 0.03)));
background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.03));
background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.03));
background-image: -o-linear-gradient(rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.03));
background-image: linear-gradient(rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.03));