/* tickets */

.tickets ul {
    list-style: none;
    margin-left: 6px;
}

.tickets ul li {
    margin: 4px;
}

.tickets-details ul {
    list-style: none;
    margin-left: 0px;
}

.tickets-details ul .from {
    color: #fff;
    padding-bottom: 4px;
}

.tickets-details ul .to {
    color: #999;
    padding-bottom: 8px;
    border-bottom: 1px dashed #2b2b2b;
}

.tickets-details ul li {
    margin: 4px;
}

.tickets-details ul li .to {
    clear: both;
}