#icon-menu > ul > li > a, .icon-menu > ul > li > span {
    color: #b68d4c;
}

#icon-menu > ul > li.circle a img {
	-o-box-shadow: 1px 1px 5px #b68d4c, -1px -1px 5px #b68d4c;
    -ms-box-shadow: 1px 1px 5px #b68d4c, -1px -1px 5px #b68d4c;
    -moz-box-shadow: 1px 1px 5px #b68d4c, -1px -1px 5px #b68d4c;
    -webkit-box-shadow: 1px 1px 5px #b68d4c, -1px -1px 5px #b68d4c;
    box-shadow: 1px 1px 5px #b68d4c, -1px -1px 3px #b68d4c;
}

#main_wrapper {
	border-top: 1px solid #b68d4c;
}

#top-menu li a:hover { 
	color: #b68d4c;
}